.form {
    width: 100%;
    margin: 0;
    padding: 0;
    &.-hidden {
        display: none;
    }
    &_question {
        font-size: 1.2em;
        text-align: center;
        font-weight: normal;
    }
    &_box.-buttons {
        @include flex(row,nowrap,space-between,center,center);
        margin: .7em 0 1.4em 0;
    }
    &_button.-finish {
        padding-left: .5em;
        padding-right: .5em;
        margin-right: .2em;
        margin-left: .2em;
    }
    &_button.-disabled {
        background-color: transparent;
        color: $colorGray;
        cursor: default;
    }
    &_button.-disabled:hover,
    &_button.-disabled:focus {
        background-color: transparent;
    }
    &_button.-hidden {
        display: none;
    }
    &_progressBar{
        display: block;
        border-radius: 1em;
        height: 1em;
        overflow: hidden;
        background-color: $colorMercury;
        position: relative;
    }
    &_progress {
        transition: $timeFast;
        display: block;
        height: 100%;
        width: 0%;
        position: absolute;
        top:0;
        left: 0;
        background-color: $colorMalibu;
    }
}
