.form {
    width: 100%;
    margin: 0;
    padding: 0;
    &.-hidden {
        display: none;
    }
    &_question {

    }

    &_choicesItem {

    }
    &_box.-buttons {
        @include flex(row,nowrap,space-between,center,center);
        margin: 1em 0;
    }
    &_button.-disabled {
        opacity: .5;
    }
    &_button.-hidden {
        display: none;
    }
    &_progressBar{
        display: block;
        border-radius: 1em;
        height: 1em;
        overflow: hidden;
        background-color: $colorMercury;
        position: relative;
    }
    &_progress {
        transition: $timeFast;
        display: block;
        height: 100%;
        width: 0%;
        position: absolute;
        top:0;
        left: 0;
        background-color: $colorMalibu;
    }
}
