._button{
    box-sizing: border-box;
    background-color: $colorMalibu;
    color: white;
    border-radius: 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    padding: 0.5em 1.5em;
    transition: $timeFast;
    font-size: 1.1em;
    &:hover,
    &:focus {
        outline: none;
        background-color: darken($colorMalibu, 7%);
    }
}
